div{
    outline: 1px solid red;   
}

body{
    margin: 0;
    padding: 0;
}


.odinlogo{

}

.leftside{
position: relative;
}

.leaf{
 height: 100%;
 position: absolute;
 width: auto;

}

#leaves{
height: 100vh;
position: absolute;
}

#odinid{


}

@font-face {
    font-family: Norse-Bold;
    src:url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf)
}