div {
  outline: 1px solid red;
}

@font-face {
  font-family: Norse-Bold;
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

body {
  margin: 0 0;
  margin-left: 0;
  margin-right: 0;
}

.container {
  height: 900px;
  width: 100vw;
  display: flex;

  margin-left: 0;
  margin-right: 0;
}

.leftside {
  height: 100%;
  width: 600px;
  position: relative;
}

.rightside {
  height: 100%;
  width: 68%;
  position: relative;
}

.leafdiv {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.leafpic {
  object-fit: cover;
  min-height: 100%;

  width: 100%;
  z-index: -1;
  position: absolute;
}

.blackdiv {
  width: 100%;
  height: max(50px, 15vh);
  margin-top: 22vh;
  background: rgba(1, 1, 1, 0.7);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odinpic {
  height: 90%;
  min-height: 40%;
}

.odintext {
  color: white;
  font-family: Norse-Bold;
  font-size: max(20px, 10vh);
}

.right-top {
  height: 300px;

  align-items: center;
}

.toptext {
  margin-top: 0;
  padding-top: 14vh;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  max-width: 570px;
  min-width: 570px;
  max-height: 250px;
}

.midtext{
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #222c3a;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  min-width: 350px; 
  margin-top: 0;
  max-height: 10px;
 
  
}

.right-middle {
  height: 300px;
  
}

.right-bottom {
  height: 300px;
}
